html, body, :root {
    --font-family: 'Verdana', 'Geneva', sans-serif;
    --background-color: #FFFFFF;
    --color:#1E2025;
    margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--background-color);

}


[data-theme='light']  {
    --background-color: #FFFFFF;
    --color:#1E2025;
}

.light {
    background: var(--background-color);

}

.dark {
    background: var(--background-color);

}



[data-theme="dark"] {
    --background-color: #1E2025;
    --color: #FFFFFF;
}

html * {
    background: var(--background-color);
}








.container {
    /*display:block;*/
    padding-left: 8em;
    padding-right: 8em;
    background: var(--background-color);

}
.nav {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
    margin-top: 40px;
    background: var(--background-color);

}

/*//TODO add top space under nav*/

.content {
    /*margin: 0em 8em;*/
    background: var(--background-color);

}

ol {
    /*display: inline-flex;*/
    /*flex-direction: column;*/
    /*margin-top: 30px;*/
    /*gap: .5rem;*/
}

li {
    margin-bottom:1em;
    color: var(--color);


}

.article-div {
    display:inline-flex;
    overflow: hidden;
    color: var(--color);


}
.article-title {
    display:inline-flex;
    font-weight: bold;
    /*font-size:larger;*/
    color: var(--color);

}

.domain-url {
    margin-left: 0.25em;
    color:gray;
    display:inline-flex;

}

a{
    text-decoration: none;
    color: var(--color);
}


.nav-heading {
    font-weight: bold;
    /*font-size:2em;*/
    color: var(--color);
    margin-left:auto;

}

.fa-hacker-news {
    /*background:#fff;*/
    color: coral;
}

.theme-button {
    border-style:none;
    /*background-color:#FFFFFF;*/
    position:absolute;
    right:2em;
    color: var(--color);

    /*margin-right:auto;*/
}


html > {
    /*color: #000;*/
}




/* Initial CSS

 */
/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
